.mt-80{
	margin-top: 80px;
}
.mt-50{
	margin-top: 50px;
}
.mt-30{
	margin-top: 30px;
}
.mt-20{
	margin-top: 20px;
}
.mt-10{
	margin-top: 10px;
}
.mt-8{
	margin-top: 8px;
}
.mt-0{
	margin-top: 0px;
}
.ml-85{
	margin-left: 85px;
}
.ml-80{
	margin-left: 80px;
}
.ml-45{
	margin-left: 45px;
}
.ml-10{
	margin-left: 10px;
}
.ml-5{
	margin-left: 5px;
}
.ml-4{
	margin-left: 4px;
}
.ml-3{
	margin-left: 3px;
}
.ml-2{
	margin-left: 2px;
}
.ml-0{
	margin-left: 0px;
}
.mb-30{
	margin-bottom: 30px;
}
.mb-20{
	margin-bottom: 20px;
}
.mb-15{
	margin-bottom: 15px;
}
.mb-10{
	margin-bottom: 10px;
}
.mb-8{
	margin-bottom: 8px;
}
.mb-7{
	margin-bottom: 7px;
}
.mb-6{
	margin-bottom: 6px;
}
.mb-5{
	margin-bottom: 5px;
}
.mb-0{
	margin-bottom: 0px;
}
.mr-10{
	margin-right: 10px;
}
.mr-8{
	margin-right: 8px;
}
.mr-6{
	margin-right: 6px;
}
.mr-5{
	margin-right: 5px;
}
.m-5{
	margin: 5px;
}
.m-2{
	margin: 2px;
}
.pl-85{
	padding-left: 85px;
}
.pl-30{
	padding-left: 30px;
}
.pr-30{
	padding-right: 30px;
}
.pt-20{
	padding-top: 20px;
}
.pb-20{
	padding-bottom: 20px;
}
.p-20{
	padding: 20px;
}
.p-15{
	padding: 15px;
}
.p-10{
	padding: 10px;
}
.p-8{
	padding: 8px;
}
.p-5{
	padding: 5px;
}
.ta-c{
	text-align: center;
}
.ta-r{
	text-align: right;
}
.dis-b{
	display: block;
}
.dis-n{
	display: none;
}
.f-l{
	float: left;
}
.f-r{
	float: right;
}
.p-r{
	position: relative;
}
.p-a{
	position: absolute;
}
.fs-20{
	font-size: 20px;
}
.fs-18{
	font-size: 18px;
}
.fs-16{
	font-size: 16px;
}
.fs-14{
	font-size: 14px;
}
.fs-13{
	font-size: 13px;
}
.fs-9{
	font-size: 9px;
}
.fw-b{
	font-weight: bold;
}
.z-99{
	z-index: 99;
}
.bb-divider{
	border-bottom: 1px solid #D1CDCD;
}
.bg-black{
	background:url('../img/bg-black.png') repeat scroll 0 0 transparent;
}
.bg-gray{
	background: repeat scroll 0 0 #efefef;
}
.bgc-white{
	background-color: #fff;
}
.bgc-gray{
	background-color: #efefef;
}
.bg-big-loading-white{
	background:url('../img/big-loading-white.png') repeat scroll 0 0 transparent;
}
.bg-h-loading{
	background:url('../img/h-loading.png') no-repeat scroll 0 0 transparent;
}
.br-5{
	border-radius: 5px;
}
.c-333{
	color: #333;
}
.c-555{
	color: #555;
}
.c-666{
	color: #666;
}
.c-888{
	color: #888;
}
.c-999{
	color: #999;
}
.c-aaa{
	color: #aaa;
}
.c-eee{
	color: #eee;
}
.c-theme-link{
	color: #0088CC
}
.lh-20{
	line-height: 20px;
}
.lh-16{
	line-height: 16px;
}
.lh-14{
	line-height: 14px;
}
.ls-n{
	list-style: none;
}
.va-6{
	vertical-align: 6px;
}
.block-h-c{
	margin: 0 auto;
}
.w-90{
	width: 90px;
}
.w-60{
	width: 60px;
}
.w-20{
	width: 20px;
}
.w-15{
	width: 15px;
}
.w-14{
	width: 14px;
}
.w-13{
	width: 13px;
}
.h-90{
	height: 90px;
}
.h-60{
	height: 60px;
}
.of-h{
	overflow: hidden;
}
.clear{}
.clear:before, .clear:after {
    content: "";
    display: table;
}
.clear:after{
	clear: both;
}