html {
    background: url("../img/paper.jpg") repeat scroll 0 0 #F7F5F5;
}
body{
	background: none repeat scroll 0 0 transparent;
}
body.front{
	padding-top: 58px;
}
a {
	cursor: pointer
}
a:hover{
	text-decoration: none;
}
a.img img:hover, a.img img:active{
	opacity: 0.9
}
.main-wrapper{
	padding: 0px 18px;
}
#water-fall{
	margin: 0 auto;
}
#water-fall .wft{
	-moz-transition: left 0.5s ease-in-out 0s, top 0.5s ease-in-out 0s;
}
#map-view{
	margin: 0 auto;
	padding: 15px;
	opacity: 1;
}
.pin {
	border: none;
    width: 192px;
    margin-bottom: 15px;
    float: left;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    padding: 15px 15px 0;
    border-radius: 0;
    opacity: 1;
}
.pin .caption{
  	padding: 9px 0px;
}
.pin a.long {
    display: block;
    height: 800px;
    overflow: hidden;
    position: relative;
}
.pin a.long .stop {
    background: url("../img/long_image_shadow.png") no-repeat scroll left top transparent;
    bottom: -1px;
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 192px;
}
.subnav{
	margin: 0 auto;
	margin-bottom: 18px;
	padding: 10px;
	opacity: 1;
}
.subnav .glk .edit{
	margin: 6px;
}
.subnav .glk .edit a{
	padding: 3px;
}
.subnav .glk button, .subnav .glk a{
	font-size: 14px;
	padding: 6px 10px;
}
.subnav .view-t button{
	padding: 8px 10px;
}
.pin .convo{
	color: #AD9C9C;
	margin: 0 -15px;
	background-color: #efefef;
	padding: 10px 15px;
}
.board{
	border: none;
    background-color: #FFFFFF;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    behavior: url(PIE.htc);
}
.sign-in{
	margin-bottom: 0px;
}
.sign-in input, 
.sign-in textarea,
.sign-in select{
    line-height: 24px;
    font-size: 16px;
}

.sign-in input[type="text"]{
	height: 24px;
}

.sign-in .input-append{
	margin-bottom: 2px;
}
.sign-in .input-append .add-on{
	height: 24px;
	line-height: 20px;
}
.sign-in .input-append .add-on a{
	display: block;
	padding-top: 5px;
}

.sign-in .input-append input{
	width: 67.3%;
}

.sign-in .hint{
	width: 215px;
	margin-left: 5px;
}

.sign-in .alert{
	display: block;
	margin-bottom: 0px;
	padding-right: 14px;
}

.upload .well{
	padding: 3px;
	margin-bottom: 15px;
}

.upload input{
	width: 100%;
	margin-bottom: 15px;
}

.upload-btn{
	background-color: #FFFFFF;
    border-radius: 15px;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    opacity: 0.4;
    width: 60px;
    height: 60px;
    color: #000;
    cursor: pointer;
    top: 94px;
    left: 97px;
}
.upload-btn:hover{
	color: #000;
	opacity: 0.6;
	text-decoration: none;
}
.upload-img.thumbnail{
	
}

#image-file-inputUploader{
	background-image: url('../img/browse.png');
	background-repeat:no-repeat;
	background-position: left top;
	width: 60px;
	height: 28px;
}

.comp-container{
	background: none repeat scroll 0 0 white;
    border-color: #999999;
    border-style: solid;
    border-width: 0 1px 1px;
    box-shadow: 2px 3px 4px #999999;
    font-family: simsun;
    margin: 0;
    padding: 6px 10px;
    position: absolute;
    width: 273px;
    z-index: 200;
    font-size: 12px;
}

.comp-container h4 {
    background-color: #67A1E2;
    border-radius: 4px 4px 0 0;
    border-color: #2C7ECF;
    border-style: solid;
    border-width: 1px 1px 0;
    color: #FFFFFF;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    margin: -6px -11px 0;
    padding-left: 10px;
}

.comp-container h5 {
    clear: both;
    color: #999999;
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
}

.comp-container a {
    border: 1px solid #FFFFFF;
    display: inline-block;
    height: 20px;
    line-height: 20px;
    margin: 0;
    padding: 0 0 0 2px;
    width: 36px;
}

.comp-container a.widthfix {
    width: 54px;
}

.city-picker a:hover {
    background-color: #E8F4FF;
    border-color: #ACCCEF;
    color: #2C7ECF;
}

.city-picker a.active {
    background-color: #E8F4FF;
    border-color: #ACCCEF;
    color: #2C7ECF;
}

.comp-container h5.dotline {
    border-top: 1px dotted #999999;
    clear: both;
    margin-top: 4px;
    padding-top: 4px;
}

#infscr-loading{
	background-color: #000000;
    border-radius: 10px 10px 10px 10px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    margin: 15px auto 0;
    opacity: 0.7;
    padding: 15px 20px;
    text-align: center;
    width: 300px;
}
#infscr-loading img{
	margin: 0 auto;
}
.content-wrapper{
	
}
.navbar .content-wrapper{
	font-family: Microsoft Yahei
}
.navbar-inner{
	background: url("../img/bg-black.png") repeat scroll 0 0 transparent;
}

#marker-tip{
	z-index:100;
	width: 300px;
	position: absolute;
	display:none;
	color: #eee;
}
#marker-tip .content{
	background:url('../img/bg-black.png') repeat scroll 0 0 transparent;
	padding: 8px;
	border-radius: 5px;
}
#marker-tip #mt_img{
	display: block;
}
#marker-tip .pointer{
	text-align: center;
	height: 5px;
	background: url('../img/tooltip-pointer.png') no-repeat scroll center top transparent;
}
.map-marker{
	position: absolute;
	border-width: 0;
	border-style: none;
	width: 46px;
	height: 55px;
	background-image: url(../img/map-shadow.png);
}

.map-marker-a{
	margin-left: 3px;
	margin-top: 3px;
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
}

.map-marker img{
	width: 40px;
}

#profile-nav-tabs > .active > a, #profile-nav-tabs > .active > a:hover{
	background-color: #efefef;
}
.navbar .nav .active > a, .navbar .nav .active > a:hover{
	 background-color: #006DCC;
	 background-image: -moz-linear-gradient(center bottom , #0088CC, #0044CC);
}

.btn-follow {
	color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5BB75B;
    background-image: -moz-linear-gradient(center top , #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-follow:hover {
	background-color: #51A351;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-track {
	color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5BB75B;
    background-image: -moz-linear-gradient(center top , #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-track:hover {
	background-color: #51A351;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.search-query{
	border-radius: 8px;
}
.search-box .search-query.search-input {
	padding: 4px 19px 4px 9px;
	border: 1px solid #888;
	color: #888;
}
.search-box .search-query.search-input.focus,
.search-box .search-query.search-input.focused{
	color: #333;
}
#nav-apps a {
    background: url("../img/icon_app.png") repeat scroll left top transparent;
    bottom: -18px;
    display: block;
    height: 40px;
    position: absolute;
    text-indent: -999999px;
    width: 70px;
    margin-left: 40px;
}
#nav-apps a:hover {
    background-position: left -45px;
}

input, textarea, select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    outline: 0 none;
    resize: none;
}
.write {
    border-top: 1px solid #D9D4D4;
    box-shadow: 0 1px #FCFAFA inset;
}
.write textarea {
    -moz-transition: width 0.25s ease-in-out 0s;
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #DDDDDD;
    font-size: 12px;
    height: 23px;
    line-height: 1.1em;
    overflow: hidden;
    padding: 4px 40px 3px 3px;
    position: absolute;
    right: 0;
    top: -1px;
    width: 147px;
}
.write textarea:focus {
	box-shadow: none;
	background: none repeat scroll 0 0 #FFFFFF;
    width: 111px;
}
.write .grid_comment_button {
    background: url("../img/comment_button.png") no-repeat scroll right 4px transparent;
    cursor: pointer;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 0;
    width: 30px;
}
.write .grid_comment_loading {
    background: url("../img/pin-loading.png") no-repeat scroll right 4px transparent;
    height: 30px;
    position: absolute;
    right: 5px;
    top: 0;
    width: 30px;
}
.write .grid_comment_button:hover, 
.write .grid_comment_button:active, 
.write:hover .grid_comment_button {
    background-position: right -26px;
}
.cmts {
    border-top: 1px solid #D9D4D4;
    margin: 0 -15px;
    padding: 0 15px;
}
.cmts .cmt{
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid white;
    overflow: hidden;
    position: relative;
    padding: 8px 15px;
}
.info .stats{
	border-top: 1px solid #D9D4D4;
    margin: 15px -15px -15px;
    padding: 10px 15px;
}
#dash-nav > .active > a, #dash-nav > .active > a:hover {
    background-color: #0088CC;
    color: #FFFFFF;
}
.act-list{
	border-color: #E1E4E5;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	margin: 0 0 17px;
	padding: 0 0 15px;
	color: #666;
}
.act-list .face {
    display: inline;
    float: left;
    padding: 3px 0 6px;
    width: 60px;
}
.act-list .content {
	word-wrap: break-word;
    font-size: 14px;
    line-height: 22px;
    margin: 0 0 0 70px;
}
.act-list .target {
	border-color: #E1E4E5;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    line-height: 20px;
    margin: 0 0 7px;
    padding: 15px 20px 13px;
    background: none repeat scroll 0 0 #FBFBFB;
}

.act-list .arrow{
	height: 11px;
    margin: -25px 0 0;
    overflow: hidden;
    width: 25px;
    margin-left: 0px;
}

.act-list .arrow * {
    display: block;
    font-family: "SimSun";
    font-size: 21px;
    height: 10px;
    overflow: hidden;
}

.act-list .arrow span {
    margin: -9px 0 0;
}
.act-list .target dt {
    margin: 10px 0;
}
.bgcolor_arrow em {
	font-style: normal;
	font-weight: normal;
    color: #E1E4E5;
}
.bgcolor_arrow span {
    color: #FBFBFB;
}

.act-list .repeat{
	background: none repeat scroll 0 0 #FBFBFB;
    border-color: #E1E4E5;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 12px;
    line-height: 20px;
    margin: 10px 0 7px;
    padding: 15px 20px 8px;
    position: relative;
}
.act-list .cmts-box .arrow{
	position: absolute;
	right: 8px;
}
.act-list .fwds-box .arrow{
	position: absolute;
	right: 58px;
}
.act-list .reps-box .arrow{
	position: absolute;
	right: 3px;
}
.repeat .write{
	border-top: none;
}
.repeat .dsb textarea{
	width: 100%;
}
.repeat .cmts{
	border-top: none;
}
.repeat .cmts .cmt{
	padding: 8px 0px;
}
.repeat .cmts .cmt.last{
	border-bottom: none;
}